<div id="<%= dom_id archive %>">
  <p>
    <strong><%= t("archive.title") %></strong>
    <%= archive.title %>
  </p>

  <p>
    <strong><%= t("archive.description") %></strong>
    <%= archive.description %>
  </p>


  <%= link_to "Edit this archive", edit_archive_path(archive) %> |

</div>
