<p style="color: green"><%= notice %></p>

<% content_for :title, "Archives" %>

<%= render "lenguages" %>
<h1><%= t("archive.index")%></h1>

<div id="archives">
  <% @archives.each do |archive| %>
    <%= render archive %>
    <p>
      <%= link_to t("archive.show_this_archive"), archive %>
    </p>
  <% end %>
</div>

<%= link_to t("archive.new_archive"), new_archive_path %>
