<p style="color: green"><%= notice %></p>

<%= render "lenguages" %>

<%= render @archive %>
<% if @archive.url.present? %>
  <img src="<%= @archive.url %>" alt="Uploaded File">
  <% end %>

<div>
  <%= link_to t("edit_archive.title"), edit_archive_path(@archive) %> |
  <%= link_to t("archive.back_to_archives"), archives_path %>

  <%= button_to t("archive.destroy_this_archive"), @archive, method: :delete %>
</div>
